@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #181D27;
  --primary: #003AD1;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}
